* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}
.navBar {
  display: flex;
  height: 70px;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/*LeftNav*/
.leftNav {
  display: flex;
}

.logo {
  padding-left: 40px;
  font-weight: 900;
  width: 60px;
}

.leftNav--ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0 40px;
}

.leftNav--ul li {
  margin-right: 30px;
  font-weight: 500;
  font-size: 17.5px;
}

#more a {
  color: #ff764d;
  padding-top: 0;
  line-height: 1.5px;
}

#more a span {
  font-size: 25px;
}

/*Right Nav*/
.rightNav {
  display: flex;
  list-style: none;
  align-items: center;
}

.rightNav li {
  margin-right: 30px;
}

.rightNav li:first-child a {
  color: #0000ff;
  font-weight: 600;
}
.rightNav li:last-child a {
  font-weight: 600;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 870px) {
  .navBar {
    height: 90px;
  }
  .leftNav--ul li {
    margin-right: 10px;
  }
  .rightNav {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .rightNav li {
    margin: 1rem 0 6px;
  }
}
@media screen and (max-width: 570px) {
  .navBar {
    height: 200px;
  }
  .leftNav--ul li {
    margin-right: 10px;
  }
  .rightNav {
    flex-direction: column;
  }
  .rightNav li {
    font-size: 12px;
    margin: 1rem 0 6px;
  }
}

/*the downbar*/

ul#navbar--2 {
  position: sticky;
  top: 0;
  display: flex;
  list-style: none;

  height: 70px;
  align-items: center;
  padding-left: 2.3rem;
  font-size: 14px;
  font-weight: 500;
}

#navbar--2 li {
  margin-right: 2rem;
}

#about {
  color: #ff0000;
}

/*The hero*/

.hero {
  height: 90vh;
  background-image: url("./images/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-size: 7rem;
  color: #ff764d;
}

/*Message--1*/

.message {
  max-width: 60%;
  font-size: 20px;
  margin: 6rem auto 3rem;
}
.message h1 {
  font-weight: 400;
}
.message a {
  color: #0000ff;
  font-weight: 500;
}

.message p {
  opacity: 0.7;
  font-weight: 200;
  margin-top: 2rem;
}
/*Picture 1*/
.picture1 {
  width: 49rem;
  height: 42rem;
  margin-left: auto;
  background-color: #fbffa7;
  position: relative;
}
.picture1 img:first-child {
  position: absolute;
  left: -31rem;
  top: 4rem;
  width: 700px;
}
.picture1 img:last-child {
  position: absolute;
  right: 0px;
  top: 9rem;
  width: 500px;
}
/*message--2*/

.message--2 {
  max-width: 55%;
  margin: 8rem auto;
}
.message--2 h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.message--2 p {
  font-size: 1.2rem;
  font-weight: 200;
}

/*Video*/
.video--container {
  width: 50%;
  margin: 10px auto;
}
.video {
  width: 560px;
  height: 315px;
}

.video--container p {
  font-size: 12px;
}

.picture2 {
  width: 49rem;

  margin: 0;
  background: #b6ffc0;
  position: relative;
  height: 60rem;
}

/*Message 3*/
.img--one,
.img--two {
  width: 500px;
  position: absolute;
}
.img--three {
  right: -30rem;
  position: absolute;
  top: 13rem;
  width: 600px;
}
.img--one {
  top: 8rem;
  left: 5rem;
}
.img--two {
  top: 35rem;
  left: 5rem;
}

/* @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
        visibility: hidden;
      }
    }
    
    body.scrolled #navbar--2 {
      animation: fadeIn 2s forwards;
      visibility: visible;
    }
    @keyframes fadeIn {
      0% {
        opacity: 1;
        visibility: hidden;
      }
      10% {
        opacity: 0.9;
      }
      20% {
        opacity: 0.8;
      }
      30% {
        opacity: 0.7;
      }
      40% {
        opacity: 0.6;
      }
      50% {
        opacity: 0.5;
      }
      60% {
        opacity: 0.4;
      }
      70% {
        opacity: 0.3;
      }
      80% {
        opacity: 0.2;
      }
      90% {
        opacity: 0.1;
      }
      100% {
        opacity: 0;
      }
    } */
